/* TabBar.css */

.molecule-tab-bar {
  display: flex;
  background-color: white;
  overflow: hidden;
  position: relative;
  border-bottom: 3px solid #8382ff;
  margin-bottom: 20px;
}

.atom-tab {
  padding: 5px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #121212;
}

.atom-tab.active {
  background-color: #8382ff; /* 활성화된 탭 배경색 */
  color: white; /* 활성화된 탭 글자색 */
  border-radius: 20px 20px 0px 0px;
}
