/* FeedBox.css */

.feed-box {
  border: 1px solid #9c9cff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 5px 6px -4px #9c9cff;
  margin: 20px 20px 0;

  &:hover {
    box-shadow: 0px 5px 6px 0px #9c9cff;
  }
}

.feed-box:hover {
  background-color: #f9f9f9;
}

.feed-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.feed-img {
  width: auto;
  height: auto;
  margin: 20px;
}

.singleText {
  font-size: 16px;
  margin-bottom: 10px;
}

.like-comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
  gap: 5px;
}

.like-comment-info span {
  margin-right: 10px;
}

.edit-button {
  background-color: #9c9cff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #9c9cff;
}

/* Move the edit button to the right */
.button-container {
  margin-left: auto;
}
