<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="http://localhost/user/register" method="post">
  <label for="nickname">닉네임:</label>
  <input type="text" id="nickname" name="nickname" value="예시 닉네임"/>

  <label for="profileImageUri">프로필 이미지 URI:</label>
  <input type="text" id="profileImageUri" name="profileImageUri" value="예시 프로필 이미지 URI"/>

  <label for="exp">경험:</label>
  <input type="number" id="exp" name="exp" value="100"/>

  <label for="info">정보:</label>
  <textarea id="info" name="info">예시 정보</textarea>

  <label for="phone">전화번호:</label>
  <input type="tel" id="phone" name="phone" value="010-1234-5678"/>

  <button type="submit">등록</button>
</form>

</body>
</html>